.color-primary{
    color: #4E0070;
}
.color-secondary{
    color:#4c79d3;
}
button.button-defauld{
    background-color: #4E0070;
    border-radius: 10px;
    color: #FFFFFF;
}
button.button-cancel{
    border-radius: 10px;
}
/*Style LOGIN*/

#login {
    background: linear-gradient(120deg,#4c79d3 44.9%, #FFF 45%) no-repeat fixed;
}

.text-login{
    color: #fff;
    font-size: 25px;
    font-weight:500;
}
.coins{
    position: absolute;
    bottom: 100px;
}
button.btn-login {
    background-color: #4E0070;
    border-radius: 10px;
    color: #FFFFFF;
    width: 50%;
    margin: 0 25%;
}

button.btn-login:hover, button.button-defauld:hover {
    background-color: #4c79d3;
    color: #FFFFFF;
    transition: 1s;
}
span.link-default{
    color: #4E0070;
    cursor: pointer;
}
span.link-default:hover {
    color: #4c79d3;
    border-bottom: 1px solid #4c79d3;
}

/*style pagina HOME*/

#app{
    background: linear-gradient(110deg, #FFF 44.9%,#4c79d3 45%) no-repeat fixed;
}
header{
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: #FFF;
}
.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.info{
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px 0px;
}
button.button-float{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    padding: 0 !important;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    background-color: #4E0070;
    color: #FFF;
}
button.button-float:hover {
    background-color: #FFF;
    color: #4c79d3;
    transition: 1s;
}